body {
	font-family: Ubuntu, Calibri, sans-serif;
	font-size: 2em;
	color: #ddd;
	background-color: #333;
}

header h1 {
    margin: 5px 5px;
}

#container {
	width: 80%;
	max-width: 1000px;
	margin: 0 auto 0 auto;
}

.content {
    background-color: #555;
    padding: 0.5em 1em;
}

article img {
	width: 100%;
	margin: 1em 0 1em 0;
}

article p {
	text-align: justify;
	text-justify: inter-word
}
ul.postlist, ul.archivelist {
	list-style: none;
}

header *, h1 {
    size: 1.5em;
}

.s {
    display:inline-block;
}

h1, a {
	text-decoration: none;
}

a {
	color: cyan;
}

a:hover {
    color: #aaa;
}

a h1 {
    color: white;
}

header #byline {
	font-size: 0.8em;
	margin-top: -1.6em;
	margin-bottom: 3em;
}
